# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.build/
dist/
*.egg-info/
.eggs/
.venv/
venv/

# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnp.*
*.tsbuildinfo

# General
.env
.env.*
!.env.example
.DS_Store
.idea/
.vscode/
coverage/
*.coverage
.cache/
.tmp/
